#ErrorDocument 404 /jkohl/error-404.php
ErrorDocument 403 /~jkohl/error-403.php
ErrorDocument 404 /~jkohl/error-404.php

# RewriteEngine on
# #if requested resource isn't a file
# # and isn't a directory
# # then serve local error script
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule .* error-404.php [L]
